@import "../../css-config/mixins.scss";
body {
    color: black;
    
  }
  
  .container {
    margin:26px;
    background-color: rgb(221, 238, 254);
    border: 2px solid rgb(25,118,210);
   // border-radius: 16px;
    box-shadow: 0 12px 16px 0 rgba(74, 123, 214, 0.934),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .container:hover{
    box-shadow: none;
  }

.heading{
color: rgb(25,118,210);
text-align: center;
flex: none;
margin: 1.2rem;
padding-top: 1rem;
}
