@import "../../css-config/mixins.scss";
$main-color: #47abe5;

.main-login{
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    background: linear-gradient(to right, rgb(255,255,255) 50%, $main-color 50%);
}
.login-contain{
    height: 75vh;
    width: 70%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.7));
    border-radius: 1rem;
    margin: 2rem auto;
    box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58,57,57);
    display: flex;
    justify-content: center;
    align-items: center;

}
.left-side, .right-side{
    margin: 2rem 2rem;
    box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58,57,57);
    height: 80%;
    width: 100%;

}
.left-side{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    input{
        display: block;
        border: 2px;;
        height: 2rem;
        width: 80%;
        margin: auto;
        margin-bottom: 1.5rem;
        padding: 0.2rem 1rem;
        transition: all 0.1s ease-in-out;
        &:focus{
            outline: none;
            border: none;
        }
        &:hover{
            outline: 0.5px solid $main-color;
            box-shadow: 2px 2px 9px -1px $main-color;
        }

    }
    label{
        display: block;
        text-align: left;
        width: 70%;
        margin: auto;
        font-size: 16px;
        color: black;
        margin-bottom: 0.5rem;

    }
    #pwd1,#emil1{
        background-color:rgb(236,236,236);
    }
    #sub_butt{
        width: 80%;
        background: $main-color;
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer;
        padding: 0.5rem 1rem;
        transition:all 0.25 ease;
        &:hover{
            box-shadow: 4px 3px 9px -1px black;
            transform: translate(-5px);
        }
    }
    .footer{
        font-size: small;
        background-color: white;
        color: black;
        margin-top: 20px;
        
    }

}
.right-side{
    .welcomeNote{
        h3{
            margin-left: 1rem;
            color: black;
            float: left;
            margin-bottom: 2.5rem;
        }
    }
    .welcomeimg{
        height: 100%;
        width: 100%;
        
        #wel-img-id{
            width:100%;
            height: 72%;
        }
    }
    .welcomeNote h3{
       font-size: 40px; 
       margin:2.5rem;
       margin-left:3rem;
       color:#0091e6;
    }
}


